/* @import 'index.css'; */

.side-nav{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: white;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
    transition: var(--transition);
    z-index: 500;
}
.side-nav:hover{
    overflow-y: scroll;
}
.side-nav .logo{
    font-size: 25px;
    color: var(--primary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 20px;
}
.side-nav .logo img{
    width: 40px;
}
.pages{
    /* margin-bottom: 300px; */
    border-bottom: 1px solid var(--grey);
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 9px;
    /* margin-left: 70px; */
}
.pages ul a{
    display: flex;
    align-self: flex-start;
    border: none;
    line-height: 30px;
}

.pages ul a li{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 30px;
    color: black;
}
.pages ul a i{
    font-size: 14px;
    color: black;
    line-height: 30px;
}
.pages ul a li.active{
    color: var(--primary-color);
}
.pages ul a i.active{
    color: var(--primary-color);
}
.recommended,.following{
    margin-top: 10px;
    border-bottom: 1px solid var(--grey);
    width: 100%;
    padding: 2px;
    /* display: flex; */
    padding-bottom: 10px;
}
.recommended h1,.following h1{
    font-size: 17px;
    color: var(--grey);
    padding-left: 25px;
}
.channels {
    position: relative;
    margin-bottom: 25px;
    padding-top: 7px;
    padding-bottom: 9px;
}
.channels .ch-prof{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    background: black;
    top: 5%;
    left: 6%;
}
/* .following{} */
.channels span{
    margin-left: 59px;
    color: black;
}
.channels span i{
    color: var(--blue);
}
.channels a{
    padding: 5px 10px 5px 10px;
    background: var(--primary-color);
    font-size: 10px;
    color: var(--white);
    font-family: sans-serif;
}
.foot{
    padding-top: 10px;
    padding-left: 5px;
}
.foot p{
    color: var(--grey);
    margin-bottom: 10px;
}
.foot span{
    color: var(--primary-color);
    margin-bottom: 10px;
}
#hero-sect{
    width: 100% ;
    height: 90vh;
    background: transparent;
    position: relative;
    /* object-fit: cover; */
}
#hero-sect .video{
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    pointer-events: none;
    object-fit: cover;
    /* object-position: right; */
}
.follow-rubi{
    padding: 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    background-color: white;
    margin-top: 10px;
    position: relative;
    border-bottom: 1px solid var(--grey);
}
.follow-rubi .rubi-img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: grey;
    box-shadow: var(--shadow);
    margin-left: 40px;
}
.follow-rubi .rubi-img img{
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    top: -5%;
    left: 5%;
    transition: 0.5s ease;
}
.follow-rubi .rubi-img img:hover{
    top: 0;
    left: 0;
}
.follow-rubi .cname{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 80px;
    color: var(--dark);
    
}
.follow-rubi .cname i{font-size: 20px;color: var(--blue);}
.follow-rubi #follow-btn{
    font-size: 20px;
    color: var(--white);
    padding: 10px 30px 10px 30px;
    background: var(--primary-color);
    font-family: sans-serif;
    position: absolute;
    right: 5%;
    border-radius: 10px;
}
.subs p{
    font-size: 15px;
    color: var(--grey);
    margin-left: 40px;
    margin-top: 10px;
}
.popular{
    padding: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}
.video-bx{
    margin-top: 10px;
    width: 200px;
    height: 300px;
    background-color: black;
    position: relative;
    object-fit: cover;
}
.video-bx .thumbnail{
    position: absolute;
    width: inherit;
    height: inherit;
}
.video-bx .v-title{
    position: absolute;
    z-index: 500;
    bottom: 15%;
    width: 90%;
    left: 5%;
    font-size: 14px;
    color: var(--white);
    margin-bottom: 10px;
}
.v-title .duration{
    margin-top: 10px;
}
.video-bx .v-prof{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.video-bx .v-prof img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    box-shadow: var(--shadow2);
    margin-left: 10px;
}
.video-bx span{
    background-color: var(--white);
    padding: 5px;
    color: lime;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 10px;
}