
:root{
    --primary-color: rgb(228, 36, 75);
    --white: #ffff;
    --grey: rgb(211, 204, 204);
    --transition: 1s ease;
    --gold: gold;
    --cursor: pointer;
    --shadow: 2px 2px 4px rgba(0,0,0,0.4);
    --shadow2: 2px 2px 4px rgba(0,0,0,0.3);
    --dark: rgb(26, 24, 24);
    --blue: rgb(6, 197, 255);
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    width: 4px;
    background-color: var(--primary-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    outline: none;
}
*::placeholder{
    color: var(--primary-color);
}
.wrapper{
    height: 100vh;
    /* padding: 3px; */
    position: relative;
}
#top-Nav{
    padding: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    /* background-color: var(--white); */
    /* box-shadow: var(--shadow); */
    z-index: 100;
    transition: var(--transition);
}
#top-Nav.stick{
   background: var(--white);
   padding: 10px 10px;
}

#top-Nav ul li .fa-align-right{
    color: var(--primary-color);
    font-size: 15px;
    cursor: var(--cursor);
}
#top-Nav ul li div{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--grey);
    cursor: var(--cursor);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}
#top-Nav ul li div img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    cursor: inherit;
}
.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    gap: 5px;
    /* background-color: white; */
}
.logo-nav a{
    color: var(--primary-color);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}
.logo-nav a img{
    width: 30px;
   /* transform: scalex(-1); */
}
.logo-nav .search{
    margin-top: 10px;
    margin-left: 20px;
    background-color: var(--grey);
    padding: 2px;
    border-radius: 50px;
}
.logo-nav .search form{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo-nav .search form input{
    border-radius: 20px;
    width: 0;
    width: 40px;
    border: 1px solid var(--grey);
    height: 27px;
    color: var(--primary-color);
    padding-left: 5px;
    transition: 1s ease;
}
.logo-nav .search form button{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    padding: 3px;
    background: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-nav .search form button .fa-search{
    font-size: 10px;
}
#top-Nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding-right: 30px;
}
#top-Nav ul li .fa-sun{
    color: var(--gold);
    font-size: 20px;
    margin-top: 5px;
    cursor: var(--cursor);
}
#top-Nav ul li a{
    padding: 9px 15px 10px 15px;
    background-color: var(--primary-color);
    border-radius: 15px;
    color: var(--white);
    font-family: sans-serif;
}
.typed{
    position: absolute;
    top: 30%;
    left: 5%;
    padding: 10px;
    word-break: break-all;
}
.typed h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    color: var(--primary-color);
    text-shadow: var(--shadow2);
    margin-left: 30px;
}
.typed h1 .type{
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-left: 10px;  
    font-style: italic;
    color: var(--white);
    position: relative;
    text-shadow: var(--shadow);
    /* transition: var(--transition); */
}
.form{
    padding: 10px;
}

.register,.login{
    position: absolute;
    top: -100vh;
    right: 7%;
    transition: var(--transition);
}

.register .formr,.login .form{
    padding: 10px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    background: var(--white);
}
.register .formr h1,.login .form h1{
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-color);
    font-family: sans-serif;
}
.formr .input-fields,.form .input-fields{
    margin-top: 30px;
    height: 40px;
    width: 350px;
    background-color: var(--white);
}
.formr .input-fields input,.form .input-fields input{
   width: 100%;
   height: 100%;
    
}
.link{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: -10px;
    color: var(--grey);
}
.link a{
    color: var(--primary-color);
}
 .pass{
    display: flex;
    /* background-color: red; */
}
 /* .pass .pass-check{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.pass-check .fa-eye,.fa-eye-slash{
    font-size: 15px;
    color: var(--primary-color);
    margin-right: 5px;
    cursor: var(--cursor);
}
.close-pass{
    display: none;
}

#passl,#passr{
    border: 1px solid rgb(114, 112, 112);
    border-right: none;
} */
.input-button{
    margin-top: 20px;
    height: 40px;
    width: 350px;
    background-color: var(--white);
    margin-bottom: 50px;
}
.input-button input{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    
}
#hero{
    width: 310px;
    position: absolute;
    top: 25%;
    left: 2.5%;
}

.cilck-toreg-log{
    padding: 20px;
    background: var(--white);
    width: 300px;
    position: absolute;
    top: 25%;
    right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    box-shadow: var(--shadow);
}
.cilck-toreg-log p{
    font-size: 15px;
    color: rgb(1, 1, 32);
    text-align: center;
}
.cilck-toreg-log #reg{
        background-color: var(--primary-color);
        margin-top: 20px;
        color: var(--white);
}
.cilck-toreg-log #log{
    background: var(--white);
    margin-bottom: 40px;
    color: var(--primary-color);
    box-shadow: var(--shadow);
}
.cilck-toreg-log #reg,#log{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
}
#footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--primary-color);
    text-align: center;
    color: var(--white);
    font-family: sans-serif;
    font-weight: bold;
}
@media(max-width: 700px){
    .typed{
        display: none;
    }
    #hero{
        display: none;
    }
    .cilck-toreg-log{
        right: 10%;
        width: 300px;
    }
    #top-Nav ul{
        padding-right: 10px;
    }
    .register,.login{
        right: 11%;
    }
}
@media(min-width: 728px){
    .typed{
        top: 35%;
    }
    .typed h1{
        font-size: 20px;
    }
    .typed h1 .type{
        font-size: 30px;
    }
    #hero{
        top: 30%;
        width: 250px;
    }
    .cilck-toreg-log{
        right: 7%;
        top: 30%;
        width: 270px;
    }
}
@media(min-width: 1024px){
    .typed h1{
        font-size: 30px;
    }
    .typed h1 .type{
        font-size: 47px;
    }
}
@media(min-width: 2000px){
    .typed{
        left: 10%;
        top: 30%;
    }
    .typed h1{
        font-size: 60px;
    }
    .typed h1 .type{
        font-size: 90px;
    }
    #hero{
        top: 25%;
        width: 600px;
    }
    .cilck-toreg-log{
        right: 10%;
        top: 30%;
        width: 400px;
    }
    #top-Nav ul{
        padding-right: 10px;
    }
    .register,.login{
        right: 11%;
    }
}

